body {
    background: #0e5185;
    text-align: center;
    /*padding: 0 25px;*/
    font-family: monospace;
}

#main {
    /*width: 500px;*/
    margin: auto;
    text-align: left;
/*    padding: 50px 60px;*/
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
}

.username {
  color: #8a9f00;
  float: left;
  font-size: 1.2em;
  padding: 0 10px 0 10px;
}

.text {
  color: black;
}

.roomname {
  color: white;
  float:right;
}

.updatedAt {
  color: pink;
  display:none;
}

.createdAt {
  color: yellow;
}

.objectId {
  display:none;
  color: green;
}

.message {
  border: 1px dotted #eee;
  background: rgba(0,0,0,0.3);
  padding: 5px 10px 5px 10px;
  min-height: 30px;
}

#left {
    float:left;
    margin-left: 5%;
    max-width: 400px;

}

#left.messages {
    float: right;
}

#right {
    float:right;
    margin-right: 5%;
    max-width: 400px;
}
#right.messages {
    float: left
}